<div class="footer-div">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile>
            <mat-list dense>
                <mat-list-item><a href="#">¿Quienes Somos?</a></mat-list-item>
                <mat-list-item><a href="#">Proceso de Compra</a></mat-list-item>
                <mat-list-item><a href="#">Preguntas Frecuentes</a></mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list dense>
                <mat-list-item><a href="#">Metodos de Pago</a></mat-list-item>
                <mat-list-item><a href="#">Envios</a></mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list dense>
                <mat-list-item><a href="#">Garantia</a></mat-list-item>
                <mat-list-item><a href="#">Ayuda</a></mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <fa-icon [icon]="faCreditCard" class="icon-credit-card"></fa-icon>
        </mat-grid-tile>
    </mat-grid-list>
</div>