.img-promocion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-producto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}