<div>
    <mat-tab-group>
        <mat-tab label="Descubre">
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Titulares</mat-card-title>
                        <mat-card-subtitle>Productos recientemente añadidos y mejores valorados en la tienda
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">
                            <mat-icon>search</mat-icon> BUSCAR PRODUCTOS
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Novedades</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <br>
                        <div>
                            <mat-grid-list cols="3">
                                <mat-grid-tile>
                                    <mat-list>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Tarjeta Grafica 2080Ti <br>11GB</mat-card-title>
                                                <mat-card-subtitle>Asus</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div>
                                                    <!-- img -->
                                                </div>
                                                <br>
                                                <div>
                                                    <p>Informacion</p>
                                                </div>
                                                <br>
                                                <div>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                </div>
                                                <br>
                                                <div>
                                                    <span>Precio: <b>$36,829.00</b></span>
                                                </div>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>favorite</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>shopping_cart</mat-icon>
                                                </button>
                                                <button mat-raised-button color="primary">MAS INFORMACION</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </mat-list>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-list>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Memoria RAM DDR4 <br>16GB (2x8GB) 2666Mhz
                                                </mat-card-title>
                                                <mat-card-subtitle>HyperX</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div>
                                                    <!-- img -->
                                                </div>
                                                <br>
                                                <div>
                                                    <p>Informacion</p>
                                                </div>
                                                <br>
                                                <div>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                </div>
                                                <br>
                                                <div>
                                                    <span>Precio: <b>4,236.00</b></span>
                                                </div>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>favorite</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>shopping_cart</mat-icon>
                                                </button>
                                                <button mat-raised-button color="primary">MAS INFORMACION</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </mat-list>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-list>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Disco Duro HDD 1TB</mat-card-title>
                                                <mat-card-subtitle>Seagate</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div>
                                                    <!-- img -->
                                                </div>
                                                <br>
                                                <div>
                                                    <p>Informacion</p>
                                                </div>
                                                <br>
                                                <div>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                </div>
                                                <br>
                                                <div>
                                                    <span>Precio: <b>$810.00</b></span>
                                                </div>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>favorite</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>shopping_cart</mat-icon>
                                                </button>
                                                <button mat-raised-button color="primary">MAS INFORMACION</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </mat-list>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">
                            <mat-icon>search</mat-icon> BUSCAR MAS
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Mejores Valorados</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <br>
                        <div>
                            <mat-grid-list cols="3">
                                <mat-grid-tile>
                                    <mat-list>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Tarjeta madre Aorus <br>Z390</mat-card-title>
                                                <mat-card-subtitle>Gigabyte</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div>
                                                    <!-- img -->
                                                </div>
                                                <br>
                                                <div>
                                                    <p>Informacion</p>
                                                </div>
                                                <br>
                                                <div>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                </div>
                                                <br>
                                                <div>
                                                    <span>Precio: <b>$5,999.00</b></span>
                                                </div>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>favorite</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>shopping_cart</mat-icon>
                                                </button>
                                                <button mat-raised-button color="primary">MAS INFORMACION</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </mat-list>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-list>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Intel Core i9-9900K
                                                </mat-card-title>
                                                <mat-card-subtitle>Intel</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div>
                                                    <!-- img -->
                                                </div>
                                                <br>
                                                <div>
                                                    <p>Informacion</p>
                                                </div>
                                                <br>
                                                <div>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                </div>
                                                <br>
                                                <div>
                                                    <span>Precio: <b>10,588.00</b></span>
                                                </div>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>favorite</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>shopping_cart</mat-icon>
                                                </button>
                                                <button mat-raised-button color="primary">MAS INFORMACION</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </mat-list>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-list>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Gabinete Series 570X <br>RGB</mat-card-title>
                                                <mat-card-subtitle>Corsair</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div>
                                                    <!-- img -->
                                                </div>
                                                <br>
                                                <div>
                                                    <p>Informacion</p>
                                                </div>
                                                <br>
                                                <div>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                    <mat-icon color="primary">star_rate</mat-icon>
                                                </div>
                                                <br>
                                                <div>
                                                    <span>Precio: <b>$3,390.00</b></span>
                                                </div>
                                            </mat-card-content>
                                            <mat-divider></mat-divider>
                                            <mat-card-actions>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>favorite</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary">
                                                    <mat-icon>shopping_cart</mat-icon>
                                                </button>
                                                <button mat-raised-button color="primary">MAS INFORMACION</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </mat-list>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">
                            <mat-icon>search</mat-icon> BUSCAR MAS
                        </button>
                    </mat-card-actions>
                </mat-card>
                <br>
            </div>
        </mat-tab>
        <mat-tab label="Promociones">
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Promociones vigentes</mat-card-title>
                        <mat-card-subtitle>Articulos en la tienda que estan a precios especiales</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Promociones del mes</mat-card-title>
                        <mat-card-subtitle>Valido del 01 de Agosto de 2019 al 31 de Agosto de 2019</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <img src="https://tls-bocasystems.com/foto/header/tls-boca-systems-icon-quickdelivery-thumb.png"
                            class="img-promocion">
                        <p>Envios gratis durante este mes apartir de compras mayores a $1000.00.</p>
                        <p>Agrega los productos a tu carrito y pide <b>ENVIO GRATIS</b> en tu compra. Solo valido el mes
                            de Agosto.</p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">
                            <mat-icon>search</mat-icon> BUSCAR PRODUCTOS
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <br>
        </mat-tab>
        <mat-tab label="Ayuda">
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Ayuda a el cliente</mat-card-title>
                        <mat-card-subtitle>Informacion sobre procesos de la tienda</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Envio</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Costo del envio
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>El costo del envio varia dependiendo del trayecto
                                    que se hara para hacerte llegar tu producto. Ingresa
                                    tus datos a tu cuenta y al momento de pagar se mostrara
                                    el monto a pagar por el envio.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Producto atrasado
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Contactenos al correo <b>soporte@tienda.com.mx</b> para darle seguimiento a tu caso.
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Pagos</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Metodos de pago aceptados
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Los metodos de pago que aceptamos son los siguientes:</p>
                                <mat-list dense>
                                    <mat-list-item> Paypal </mat-list-item>
                                    <mat-list-item> Tarjetas de Credito Mastercard / Visa </mat-list-item>
                                    <mat-list-item> Tarjetas de Debito Mastercard / Visa </mat-list-item>
                                </mat-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Garantia</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Tiempo de garantia de los productos
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>Todos los productos de esta tienda tienen una garantia de <b>30 dias</b> despues de
                                    la compra.</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            <br>
            <div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Stock</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Re-stock de los productos
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>El re-stock de los productos agotados se hara en un lapso de 5 dias depues de que el sistema nos notifique de este desabasto.</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<router-outlet></router-outlet>